<div style="margin-left: 1rem">
  <h2>Members Page</h2>
  <div class="row">
    <div class="col-1">
      <mat-form-field>
        <input matInput placeholder="Organization" [(ngModel)]="organization">
      </mat-form-field>
    </div>
    <div style="margin-top: 0.5rem" class="col-3">
      <button mat-raised-button color="primary" (click)="loadMembers()">Load members of organization</button>
    </div>
  </div>
  <div class="row">
    <table style="margin-left: 0.5rem">
      <thead app-member-head></thead>
      <tbody>
      <tr app-member-row [member]="member" *ngFor="let member of members">
      </tr>
      </tbody>
    </table>
  </div>
</div>

